/* --------------------------- header ------------------------------------- */
.header{
/* #f53d2d #ff6633 */
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6633, #f53d2d)
}

/* -----------navbar---------------- */
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user {
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}


.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-name:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__navbar-user-menu {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 130%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20px;
    right: 28px;
    cursor: pointer;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    height: 10px;
    width: 75%;
    position: absolute;
    top: -10px;
    right: 0px;
    cursor: pointer;
}




.header__navbar-user-item {
    font-size: 1.4rem;
    margin: 4px 0;
}

.header__navbar-user-item a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    padding: 4px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item,
.header__navbar-item-link {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item-link {
    text-decoration: none;
}

.header__navbar-item--strong {
    font-weight: 400;
    cursor: pointer;
}

.header__navbar-item--strong:hover {
    opacity: 0.8;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #f96c5c;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    opacity: 0.7;
}

.header__navabar-icon{
    font-size: 1.8rem;
    position: relative;
    top: -1px;
}

.header__navbar-item--hover:hover {
    cursor: pointer;
}





/* ---------QR code------------- */

.header__navbar-item--hover:hover .header__qr {
    display: block;
    
}

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 8px);
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.3s;
}

.header__qr::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 10px;
    top: -10px;
    left: 0;
}

.qr-img {
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    padding: 0 14px 14px;
}

.download-img {
    height: 17px;
}

/* ------------Notify--------------- */

.header__navbar-item--notify:hover .header__notify{
    display: block;
}

.header__notify {
    width: 404px;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--border-color);
    transform-origin: calc(100% - 32px) top ;
    animation: header__notify-grow ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
    z-index: 3;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -29px;
    right: 1px;
}

.header__notify::after {
    content: "";
    width: 92px;
    height: 14px;
    position: absolute;
    top: -14px;
    right: 0;
}

@keyframes header__notify-grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: (1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 12px 12px 0px 12px ;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__notify-list {
    padding-left: 0;
    max-height: 56vh;
    overflow: auto;
}

.header__notify-item {
    display: flex;
}

.header__notify-item--readed {
    background-color: var(--white-color);
}

.header__notify-item-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 12px;
    background-color: rgba(255,120,56, 0.08);
}

.header__notify-item-link:hover {
    background-color: #f7f7f7;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__notify-discription {
    color: #999;
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-height: 3.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__notify-footer {
    text-align: center;
}

.header__nautify-footer-btn{
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 8px 0;
    width: 100%;
}

.header__nautify-footer-btn:hover {
    opacity: 0.8;
}

/* ------------------------Modal--------------------------- */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    animation: fadeIn linear 0.1s;
}


.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
    
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #e5e4e4;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.btn--with-icon i {
    font-size: 1.8rem;
}

.auth-form__socials-fb,
.btn--with-icon {
    color: var(--white-color);
    background-color: #3a5a98;
}


.auth-form__socials-label {
    margin: 0 30px;
}

.auth-form__socials-gg {
    background-color: var(--white-color);
    color: var(--text-color);
}

/* đăng nhập */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.auth-form__help-link:last-child {
    color: var(--text-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    height: 16px;
    margin: 0 16px;
    position: relative;
    top: -1px;
}


.btn--size-sm {
    min-width: 130px;
}

.btn--size-sm:nth-child(2) {
    margin: 0 8px;
}

.auth-form__socials-sms {
    background-color: #10860b;
}

/* -----header with search------- */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

/* logo */
.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    margin-bottom: 8px;
    cursor: pointer;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

/* search */
.header__search {
    flex: 1;
    display: flex;
    height: 40px;
    border-radius: 2px;
    align-items: center;
    background-color: var(--white-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding-left: 16px;
    border-radius: 2px;
    color: var(--text-color);
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    background-color: var(--white-color);
    position: absolute;
    width: calc(100% - 16px);
    left: 0;
    top: 106%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2;
    border-radius: 2px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    font-size: 1.4rem;
    color: var(--border-color);
    font-weight: 400;
    margin: 8px 16px;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 16px;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}


.header__search-history-item:hover {
    background-color: #f7f7f7;
}

/* -------- */

.header__search-selection {
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    border-left: 1px solid var(--border-color);
    
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}


.header__search-option {
    list-style: none;
    position: absolute;
    right: 0;
    top: 118%;
    width: 130px;
    z-index: 2;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 0;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -28%;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    border-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #f7f7f7;
}

.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 10px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

/* -------- */
.header__search-btn {
    border: none;
    width: 60px;
    height: 34px;
    outline: none;
    margin-right: 3px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.header__search-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* cart */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0 8px;
}

.header__cart-icon-wrap:hover .header__cart-list {
    display: block;
}


.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: 130%;
    right: -6px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 3;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: -31px;
    right: 2px;
    border-style: solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    cursor: pointer;
    top: -14px;
    right: 4px;
    width: 50px;
    height: 20px;
    display: block;
}

/* ko có sản phẩm */

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list--no-cart {
    padding: 28px 0 10px;
}

/* có sản phẩm */

.header__cart-notice {
    position: absolute;
    padding: 2px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    top: -9px;
    left: 0;
    border: 2px solid #ee4d2d;
}

.header__cart-notice span {
    position: relative;
    top: 1px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow: auto;
}


.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    padding-right: 12px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    max-height: 3.2rem;
    flex: 1;
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-ultiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.header__cart-item-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-btn {
    float: right;  
    margin: 0 12px 12px 0;
}

.header__cart-btn:hover {
    opacity: 0.8;
}


/* --------------------------------------------------------------App Container---------------------------------------------------- */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}


/* ---------------category-------------- */
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.catagory__heaading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.catagory__heaading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.category-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 8px 0px;

}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 6px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -2px;
    color: var(--primary-color);
}

/* -------------- Home shop -------------- */
.home-filter {
 background-color: rgba(0, 0, 0, 0.04);
 display: flex;
 align-items: center;
 padding: 12px 22px;
 border-radius: 2px;
}

.home-flter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-flter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-flter__btn.btn {
    background-color: var(--white-color);
}

.home-flter__btn.btn--primary {
    background-color: var(--primary-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}


.home-filter__paga-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    height: 36px;
    width: 72px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.home-filter__page-btn {
    text-decoration: none;
    background-color: var(--white-color);
    flex: 1;
    display: flex;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    font-size: 1.4rem;
    margin: auto;
    color: #555;
}

/* -----------------Product----------------------- */
.home-product {
    padding-bottom: 10px;
}

.product-link {
    text-decoration: none;
}



.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    transition: top linear 0.1s;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    top: 0;
}

.home-product-item:hover {
    top: -1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
    display: none;
    color: #f63d3d;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #ccc;
    margin-left: auto;
}

.home-product-item__rating--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 0px;
    color: #595959;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.home-product-item__origon-name {
    font-weight: 300;
}

.home-product-item__favorite {
    position: absolute;
    left: -4px;
    top: 10px;
    color: var(--primary-color);
    background-color: currentColor;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    top: 100%;
    left: 0;
    filter: brightness(60%);
}

.home-product-item__favorite-icon {
    font-size: 0.9rem;
    margin:0 1px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    padding-top: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
    right: 0;
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
}

/* ----------------Pagination------------------- */

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* ------------------------------------------------------footer------------------------------------ */
.footer {
    background-color: #fbfbfb;
    padding-top: 70px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    color: #737373;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 26px 0;
}

.footer-list {
    padding-left: 0;
    
}

.footer-item {
    list-style: none;
    margin-bottom: 16px;
}

.footer__item-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
}

.footer__item-link:hover {
    color: var(--primary-color);
}

.payment {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.payment-img {
    width: 60px;
    height: 30px;
    margin-bottom: 12px;
    vertical-align: middle;
}

.footer__item-icon {
    font-size: 1.6rem;
    color: #4b4b4b;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 86px;
    height: 86px;
    border: 1px solid #e4e4e4;
    margin-right: 16px;
}

.footer__download-apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-app-img {
    height: 20px;
}

.footer-license-row {
    margin-top: 40px;
    border-top: 1px solid #e1e1e1;
}

.footer-license {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.footer-license__text {
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

.footer-license__text:first-child {
    margin-bottom: 30px;
}

.footer-license__text:last-child {
    margin-bottom: 30px;
}